/* Navbar.css */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #2B3D5B;
    color: #fff;
    padding: 10px 0;
    top: 0;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-list li:last-child {
    margin-right: 0;
  }
  
  .navbar-list li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-list li a:hover {
    text-decoration: underline;
  }
  