/* Navbar.css */
.navbar {
  position: fixed; /* Dodajte ovo svojstvo */
  top: 0; /* Postavite navbar na vrh ekrana */
  width: 100%; /* Postavite širinu na 100% */
  z-index: 1000; /* Postavite z-index da bude iznad ostalih sadržaja */
  display: flex;
  justify-content: space-between; /* Dodajemo prostor između elemenata */
  align-items: center; /* Centriramo vertikalno */
  background-color: #2B3D5B;
  color: #fff;
  padding: 10px 20px; /* Povećavamo razmak */
}

/* Dodajemo stilove za gumb "Log out" */
.navbar button {
  background-color: rgb(159, 160, 163); /* Boja pozadine crvena */
  color: #fff; /* Boja teksta bijela */
  border: none; /* Uklanjamo okvir */
  padding: 10px 20px; /* Dodajemo prostor unutar gumba */
  border-radius: 5px; /* Dodajemo zaobljenje rubova */
  cursor: pointer; /* Pokazivač ruke */
}

.navbar button:hover {
  background-color: #707070cc; /* Tamnija crvena boja prilikom prelaska mišem */
}

/* Ostatak CSS-a ostaje nepromijenjen */
.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-list li {
  margin-right: 20px;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list li a {
  color: #fff;
  text-decoration: none;
}

.navbar-list li a:hover {
  text-decoration: underline;
}
